// checkbox group
.checkbox__group {
    --checkbox-primary: var(--primary);
    --checkbox-text: var(--grey-900);
    --checkbox-light: var(--grey-050);

    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // title
    .checkbox__title {
        font-size: 115%;
        margin: 0;
        padding: 0;
        line-height: 1.3;
        color: var(--checkbox-text);
    }

    // caption
    .checkbox__caption {
        font-size: 100%;
        padding: 0;
        margin: 0;
        line-height: 1.3;
        color: var(--checkbox-text);
    }

    // checkbox option
    .checkbox__group__option {
        display: block;
        margin: 12px;
        margin-left: 0;

        // last option
        &:last-of-type {
            margin-right: 0;
        }

        // input[type=checkbox]
        .option__checkbox {
            position: absolute;
            width: 1px;
			height: 1px;
			margin: -1px;
			clip: rect(0, 0, 0, 0);
			clip: rect(0 0 0 0);
			overflow: hidden;
			white-space: nowrap;

            + .option__label {
                position: relative;
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                &::before {
                    content: "";
                    position: relative;
                    display: inline-block;
                    margin-right: 10px;
                    width: 18px;
                    height: 18px;
                    background-color: var(--checkbox-light);
                    border: var(--checkbox-light) solid 1px;
                    border-radius: 2px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    top: 6px;
                    left: 5px;
                    border-left: 2px solid currentColor;
                    border-bottom: 2px solid currentColor;
                    transform: rotate(-45deg);
                    transform-origin: center center;
                    height: 3px;
                    width: 9px;
                    opacity: 0;
                }
            }

            &:checked {
                + .option__label {
                    &::before {
                        background-color: var(--checkbox-primary);
                    }
                    &::after {
                        color: var(--checkbox-light);
                        opacity: 1;
                    }
                }
            }

            &:focus {
                + .option__label {
                    &::before {
                        border: var(--checkbox-primary) solid 1px;
                        box-shadow: $box-shadow;
                    }
                }
            }
        }
    }
    
}

// media query
@media (min-width: 512px) {
    .checkbox__group {
        .checkbox__group__option {
            display: inline-block;
            margin-left: 12px;
            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}