
// define vars
$dark: #252525;
$text: #3f454b;
$primary: hsl(231, 41%, 47%);
$primary-light: hsla(231, 41%, 47%, 0.2);
$light: #f6f6f6;
$semi-light: #c2cad6;

// $primary: #0C008C; // $purple-900
// $primary-light: #C4C6FF; // $purple-100
// $light: #F0F4F8; // $blue-grey-050
// $semi-light: #9FB3C8; // $blue-grey-100
$error: hsl(9, 83%, 45%);

$border-radius: 6px;
$shadow: hsla(0, 0%, 0%, 0.2);
$primary-box-shadow: 0 0 6px 2px $primary;
$box-shadow: 0 0 6px 4px hsla(0, 0%, 0%, 0.2);
$leftOffest: 21px;
$breakpoint: 972px;
$breakpoint-sm: 517px; 


// import components
@import "_main", "_accordion", "_checkbox_group", "_inputs";